{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="form-div card">
    <h1>Flag <img src="{% static "imgs/issue.png" %}" alt=""></h1>
    <p>Creating a flag issue</p>
    {% if flag_id %}
    <p>Flag is submitted, <a href="">track</a></p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label>Email
        <input type="email" name="email" id="" value="{{user.email}}"></label>
        <label>
            Your complain
            <textarea name="response" rows="5"></textarea>
            <small>Please explain in details in other for the administrators to be able to address the issue you flag for.</small>
        </label>
        <button class="submit-btn">Flag</button>
    </form>
    
</div>

{% endblock content %}
