{% extends "base.html" %}
{% load static %}
{% block title %}Upload Panel{% endblock title %}
<script defer>
const level = $(".js-select2[level]")
const department = $(".js-select2[department]")
const course = $(".js-select2[course]")


level.on("change", getCourse) 
department.on("change", getCourse) 

async function getCourse(){
        if(department.val() == 'null' || level.val() == 'null'){
          return
        }
        course.html('<option value="null">--loading please wait--</option>');

    // fetch all courses in the level 
    
    const response = await fetch(`/api/rest/courses/?department__id=${department.value}&level=${level.value}`)
    const data = await response.json()
    course.empty(); // Clear current options
    data.forEach(d => {
      course.append(`<option value="${d.code}">${d.code.toUpperCase()} - ${d.title}</option>`);
    });
}

</script>
{% block script %}
<script src="{% static "js/load_courses.js" %}"></script>
{% endblock script %}
{% block content %}
<div class="form-div card">
  <h3 class="card-title">Upload new resouce</h3>
  <p><b>Note:</b> Before uploading any resource to this platform, make sure you understand all the terms and conditions <a href="terms">Terms and condition</a></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
            
          <label> Department:
            <select class="form-select js-select2" data-ui="lg" name="department" department>
                <option value="null">--Select--</option>
                {% for d in departments %}
                <option value="{{d.id}}" {% if d.id == department %}
                selected
                {% endif %} >{{d.name}}</option>
           {% endfor %}
            </select>
            </label>
            <label> Level:
            <select class="form-select js-select2" data-ui="lg" name="level" level>
                <option value="null">--Select--</option>
                {% for l in levels %}
                <option value="{{l}}" {% if l == level %}selected
                {% endif %}>{{l}} Level</option>
               {% endfor %}
            </select>
            </label>
            <label> Course :
            <select class="form-select js-select2" data-ui="lg" name="course" course>
                <option value="null">--Select--</option>
            </select>
            </label>
        <div class="hr"></div>
        <p>Information about the material</p>
        <div>
            <label> Title :
            <input class="form-control form-control-lg" type="text" name="title" placeholder="Title for material."></label>
        </div>
       <div>
            <label> Comment:
            <textarea class="form-control form-control-lg" name="comment" placeholder="( optional )"></textarea></label>
        </div>
        <div>
            <label> File:
            <input class="form-control form-control-lg" type="file" name="file" required></label>
        </div>
        <p style="background: white;color: black;"><b>Note : </b>any material that's not relevant will be removed by Administrators</p>
        <div><button type="submit" class="btn btn-primary">Submit</button></div>
        
        
    </form>
    
</div>

{% endblock content %}
