{% extends "base.html" %}

{% block content %}
<section>
    <div class="form-div">
        <h2>Add questions for {{course.name}} CBT</h2>
        <form method="post">
            {% csrf_token %}
            {{ question_form }}
            <p>It's not Mandatory to fill all options below.</p>
            <b>Options :</b>
    {% for option_form in option_forms %}
        {{ option_form }}
    {% endfor %}
            <button class="submit-btn">Create</button>
        </form>
    </div>
</section>
{% endblock %}
