{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="">
    <h2>{{course.topic}} Test</h2>
    <p>This is just a playground or exercising place.</p>
    <div class="card p-2">
      <h4 class="card-title">Note on Subject</h4>
      <p>{{course.note}}</p>
    </div>
    <div class="card border mt-2 p-2">
      <h4 class="card-title">Questions</h4>
        {% for q in qs %}
        <p>{{forloop.counter}}. {{q.question}}</p>
        {% endfor %}
    </div>
    
</div>

{% endblock content %}