{% extends 'base.html' %}

{% block content %}
 <section>
        <h2>Our Mission</h2>
        <p>
            At Social Science ABU, our mission is clear: to provide Ahmadu Bello University students with rapid access to a wealth of educational materials precisely when they need them. We believe that access to quality learning resources should never be a barrier to academic success. That's why we are committed to breaking down these barriers and empowering students on their educational journey.
        </p>
    </section>

    <section>
        <h2>Our Vision</h2>
        <p>
            Imagine a platform where all the reading materials you require for your courses are available at your fingertips. From lecture handouts, notes, and course outlines to challenging assignments, past questions, and a host of other relevant resources, we aspire to be your go-to source for academic excellence. Our vision is to create a seamless learning experience that empowers students to reach their full potential.
        </p>
    </section>

    <section>
        <h2>Abundant Resources, Diverse Formats</h2>
        <p>
            With an extensive collection of approximately 5,000 materials, our library caters to various learning preferences. Whether you prefer traditional PDF documents, engaging videos, enlightening images, or informative audio resources, we've got you covered. Our commitment to diversity ensures that your learning journey is both enriching and personalized.
        </p>
    </section>

    <section>
        <h2>Community-Driven Excellence</h2>
        <p>
            Social Science ABU thrives on the spirit of collaboration and community. It's our wonderful community of contributors, including students, educators, and passionate individuals, that makes this platform possible. Together, we create a vibrant ecosystem where knowledge is freely shared and continuously enriched.
        </p>
    </section>
    
    <section>
        <h2>Meet the Founders</h2>
        <p>
            Social Science ABU was founded by Jafaru Idris Tesla and co-founded by Babuga Umar Baga. Their vision and dedication to enhancing educational accessibility have driven the creation of this platform.
        </p>
    </section>
{% endblock content %}
