{% extends 'base.html' %}

{% block content %}

<p>You can reach us through the below details</p>
{% include 'app/libs/user_info.html' with img_url='imgs/jafaru_idris.jpg' name='Jafar Idris (Tesla)' role='Co-founder & Developer' phone_number='+2347080332077' email='jafaridris82@gmail.com' %}
{% include 'app/libs/user_info.html' with img_url='imgs/vision.png' name='Jafar Idris (Tesla)' role='Co-founder & Developer' phone_number='+2347080332077' email='jafaridris82@gmail.com' %}
{% include 'app/libs/user_info.html' with img_url='imgs/jafaru_idris.jpg' name='Jafar Idris (Tesla)' role='Co-founder & Developer' phone_number='+2347080332077' email='jafaridris82@gmail.com' %}
{% endblock content %}