{% extends 'base.html' %}

{% block content %}

<p>You can reach us through the below details</p>
 {% include 'app/libs/spon.html' with img_url='imgs/jafaru_idris.jpg' name='Jafar Idris (Tesla)' role='Founder & Developer' phone_number='+2347080332077' facebook='https://www.facebook.com/jaafar.idrees.7' twitter='https://x.com/JafarJere_Idris' email='jafaridris82@gmail.com' info='Software Developer, Nigeria. Passionate about creating innovative solutions using Django and Next.js. Also pursuing a degree in political science at ABU Zaria. Always eager to learn and solve problems through code.' %}
                                                    

{% endblock content %}