{% extends 'base.html' %}
{% load humanize %}
{% block style %}
{% endblock style %}

{% block content %}
<style>
  .nk-wgw {
  position: relative;
}
.nk-wgw-inner {
  padding: 1.25rem;
  display: block;
}
.sm.nk-wgw .nk-wgw-inner {
  padding: 1.25rem;
}
.nk-wgw-name {
  display: flex;
  align-items: center;
}
.nk-wgw-icon {
  position: relative;
  height: 32px;
  width: 32px;
  font-size: 20px;
  border-radius: 50%;
  background: #8094ae;
  color: #fff;
  margin-right: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.is-dark .nk-wgw-icon {
  background: #6baafe;
}
.nk-wgw-icon.is-default:after {
  position: absolute;
  bottom: -8px;
  right: -8px;
  font-family: "Nioicon";
  content: "\ebcc";
  height: 20px;
  width: 20px;
  font-size: 13px;
  border-radius: 50%;
  background: #fff;
  color: #ffa353;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.is-dark .nk-wgw-icon.is-default:after {
  background: #0b3175;
}
.nk-wgw-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0;
  color: #526484;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.is-dark .nk-wgw-title {
  color: #fff;
}
.nk-wgw-more {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}
.is-dark .nk-wgw-more .btn-trigger {
  color: #a9cdff;
}
.is-dark .nk-wgw-more .btn-trigger:before {
  background-color: #071d46;
}
.nk-wgw-balance {
  line-height: 1.3;
  padding-top: 1.25rem;
}
.nk-wgw-balance .amount {
  font-size: 1.5rem;
  font-weight: 500;
  color: #364a63;
}
.is-dark .nk-wgw-balance .amount {
  color: #fff;
}
.nk-wgw-balance .amount span {
  font-weight: 400;
  opacity: 0.6;
}
.nk-wgw-balance .amount-sm {
  font-size: 13px;
  color: #526484;
  font-weight: 700;
  padding-top: 0.125rem;
}
.is-dark .nk-wgw-balance .amount-sm {
  color: #6baafe;
}
.nk-wgw-balance .amount-sm span {
  font-weight: 400;
}
.nk-wgw-balance .currency {
  padding-left: 0.25rem;
}
.nk-wgw-actions {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid #e5e9f2;
}
.is-dark .nk-wgw-actions {
  border-color: rgba(9, 113, 254, 0.4);
}
.nk-wgw-actions ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.nk-wgw-actions ul li:not(:last-child) {
  padding-right: 1.5rem;
}
.nk-wgw-actions a {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  padding: 0.5rem 0;
  color: #526484;
}
</style>
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class="nk-block-head-sub"><span>Account Wallet</span> </div><!-- .nk-block-head-sub -->
                                <div class="nk-block-between-md g-4">
                                    <div class="nk-block-head-content">
                                        <h2 class="nk-block-title fw-normal">Airtime Top-up</h2>
                                        
                                    </div>
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-sm-6 col-lg-4 col-xl-6 col-xxl-4">
                                        <div class="card card-bordered">
                                          <form action="{% url 'wallet:purchase_airtime_with_wallet' %}" method="post" class="px-2 py-3 form-validate">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="form-label" for="network">Network</label>
                                                <div class="form-control-wrap">
                                                    <select name="network" class="form-select js-select2">
                                                      <option value="mtn">MTN</option>
                                                      <option value="airtel">Airtel</option>
                                                      <option value="glo">Glo</option>
                                                      <option value="etisalat">Etisalat</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="form-label" for="amount">Amount</label>
                                              <div class="form-control-wrap">
                                                <input class="form-control" type="number" min="50" required name="amount" placeholder="eg. 1000">
                                              </div>
                                            </div>
                                            <div class="form-group">
                                              <label class="form-label" for="number">Number</label>
                                              <div class="form-control-wrap">
                                                <input list="beneficiaries" class="form-control" type="tel" name="number" required minlength="11" placeholder="eg. +2347080332077 or 07080332077" data-msg="Pleaee enter a valid phone number.">
                                              </div>
                                              <datalist id='beneficiaries'>
                                                {% for beneficiary in user.wallet.beneficiaries.all %}
                                                <option>{{ beneficiary.phone_number }}</option>
                                                {% endfor %}
                                              </datalist>
                                              <small>By using comma (,) to spread multiple numbers, you can buy for multiple customers at once. eg. 07080332077,07042612214</small>
                                            </div>
                                            <div class="form-group">
                                              <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Save number in beneficiary list?</label>
                                              </div>
                                            </div>
                                            <div class="form-group d-flex flex-row justify-content-end">
                                              <button class="btn btn-primary">Proceed</button>
                                            </div>
                                          </form>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content @e -->
{% endblock content %}